page-login {

.cropper{

	position: relative;
	overflow: hidden;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	height: 100px;
	width: 100px;
}

#about{
background: linear-gradient(0.25turn, #988B8F, rgb(152, 139, 143), #B73235, #B73235);
}

#AboutBtn{
background: linear-gradient(0.25turn, #988B8F, rgb(152, 139, 143), #B73235, #B73235);
}

}
