page-buycanalpasse {

#ticket{
	    background-image: url('../../assets/imgs/card.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      //background-position: center;

}


}
