.dark-theme {
  ion-content {
    background-color: #141A21;
    color: #fff;
  }

   ion-card {
    background-color: #141A21;
    color: #fff;
  }

  ion-item {
    background-color: #141A21;
    color: #fff;
  }

  ion-list {
    background-color: #141A21;
    color: #fff;
  }

  ion-menu{
    background-color: #141A21;
    color: #fff;
  }


  .toolbar-title {
    color: #fff;
  }

  .header .toolbar-background {
    border-color: #ff0fff;
    background-color: #141A21;
  }
}
